<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Weather - Cleveland</title>
    <link rel="stylesheet" href="./material.min.css">
    <script src="./material.min.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>
<body>
  <!-- Always shows a header, even in smaller screens. -->
  <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    <header class="mdl-layout__header">
      <div class="mdl-layout__header-row">
        <!-- Title -->
        <span class="mdl-layout-title">Cleveland Weather</span>
        <!-- Add spacer, to align navigation to the right -->
        <div class="mdl-layout-spacer"></div>
        <!-- Navigation. We hide it in small screens. -->
        <form action="#">
          <div class="mdl-textfield mdl-js-textfield">
            <input class="mdl-textfield__input" type="text" id="user" pattern="[A-Z,a-z, ]*">
            <label class="mdl-textfield__label" for="user" style="color:#ffffff">Search for...</label>
          </div>
          <label class="mdl-button mdl-js-button mdl-button--icon" for="sample6">
            <i class="material-icons">search</i>
          </label>
        </form>
        <div class="mdl-layout-spacer"></div>
        <nav class="mdl-navigation mdl-layout--large-screen-only">
          <a class="mdl-navigation__link" href="">Weather</a>
          <a class="mdl-navigation__link" href="">Fire</a>
          <a class="mdl-navigation__link" href="">Hurricanes</a>
          <a class="mdl-navigation__link" href="">Tornadoes</a>
        </nav>
      </div>
    </header>
    <div class="mdl-layout__drawer">
      <span class="mdl-layout-title">Weather</span>
      <nav class="mdl-navigation">
        <a class="mdl-navigation__link" href="">Home</a>
        <a class="mdl-navigation__link" href="">Cleveland</a>
        <a class="mdl-navigation__link" href="">Toronto</a>
        <a class="mdl-navigation__link" href="">Boston</a>
        <a class="mdl-navigation__link" href="">New York City</a>
        <a class="mdl-navigation__link" href="">About Us</a>
        <a class="mdl-navigation__link" href="">Settings</a>
      </nav>
    </div>
  <main class="mdl-layout__content">
    <div class="page-content"><!-- Your content goes here -->
      <div class="mdl-grid">
        <div class="mdl-cell mdl-cell--4-col mdl-cell--3-col-desktop">(6 Desktop, 4 Tablet, 4 Phone)</div>
      </div>
    </div>
  </main>
  </div>
</body>
</html>